body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0b0b0b;
    color: #ffffff;
}
.contacto{
    background: linear-gradient(to bottom, #000000, #111111);
    padding: 40px 20px 10px;
    border-top: 2px solid #e50914;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
footer section {
    margin-bottom: 25px;
}
footer section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e50914;
    border-left: 4px solid #e50914;
    padding-left: 8px;
}
footer section p {
    font-size: 14px;
    color: #cccccc;
    font-size: 15px;
}