body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #141414;
    color:white;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
}.hero-content{
    position: relative;
    max-width: 600px;
    z-index: 2;
}
.hero{
    position: relative;
    height: 80vh;
   display: flex;
   align-items: center;
   padding: 60px;
   background: url('/img/interestelar.jpg') no-repeat center center;
}
.hero h1{
    font-size:70 px;
    margin-bottom: 20px;
}
.movie-meta span{
    margin-right: 15px;
    color: #ccc;
}
.description{
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    padding: 12px 25px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    transition: 0.3s;
}
.btn-play{
    color: white;
    background-color: #651d81;
}
.btn-play:hover {
    background-color: #4d105f;
}
.btn-info:hover {
    background: rgba(255, 255, 255, 0.3);
}
.btn-info{
    color: white;
    background-color: rgba(109,109, 110,0.7);
}
.section{
    padding: 50px 60px;
}
.section h2{
    margin-bottom: 20px;
}
.cards{
    display: flex;
    gap: 20px;
}
.card{
    width: 200px;
    height: 280px;
    background-color: #333;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
