body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #141414;
    color:white;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
}.hero-content{
    position: relative;
    max-width: 600px;
    z-index: 2;
}
.hero{
    position: relative;
    height: 90vh;
   display: flex;
   align-items: center;
   padding: 60px;
   background: url();
}